# Configuration file for ThaumicFix
# Here you can enable or disable specific patches.
# Set to 'true' to enable a patch, 'false' to disable.

# Fixes a crash with the Thaumic Energistics Cell Microscope when used with an empty hand.
# Default: true
B:fixThaumicEnergisticsMicroscopeCrash=true